footer button {
    background-color: blue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    border-radius: 12px;
}

footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background: green;
    padding:8px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
}