body {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   background-color: white;
   padding: 0px;
}

div#container {
  position: relative;
  padding: 20px;
}

div#main {
  margin:130px 10px 130px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid #0B2F3A;
  padding: 10px;
}

tr {
  line-height: 30px;
}

tr:nth-child(even){background-color: #EFF8FB;}

tr:hover {background-color: #82FA58;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #086A87;
  color: white;
}

button {
  background-color: grey;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 10px;
  border-radius: 12px;
}

label {
  display: block;
  font-size: 24px;
}

input {
  display: block;
  font-size: 24px;
}

input.checkbox {
   width: 20px;
   height: 20px;
}

/*
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.verticalSpace {
  padding-bottom: 20px;
}
