body {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   background-color: white;
   padding: 0px;
}

div#container {
  position: relative;
  padding: 20px;
}

div#main {
  margin:130px 10px 130px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid #0B2F3A;
  padding: 10px;
}

tr {
  line-height: 30px;
}

tr:nth-child(even){background-color: #EFF8FB;}

tr:hover {background-color: #82FA58;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #086A87;
  color: white;
}

button {
  background-color: grey;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 10px;
  border-radius: 12px;
}

label {
  display: block;
  font-size: 24px;
}

input, select {
  display: block;
  font-size: 24px;
}

input.checkbox {
   width: 20px;
   height: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.verticalSpace {
  padding-bottom: 20px;
}

.disabled_item {
  background-color: lightgrey;
}

.card {
  box-shadow: 10px 5px 10px red;
  max-width: 200px;
  max-height: 250px;
  margin: auto;
  text-align: center;
}

.card img {
   height: 100px;
   width: 100px;
}

#numpad button {
  background-color: green;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 10px;
  border-radius: 12px;
  height: 60px;
  width: 100%;
}

#numpad {
  width: 100%;
  border: 5px solid blue;
  display: inline-block;
}

#numpad button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: calc(33% - 10px);
  height: 100px;
  margin: 5px;
  background: lightskyblue;
  color: blue;
  float: left;
  text-align: center;
  font-size: 24px;
  border-radius: 12px;
}

#numpad button:hover {
  background-color: yellow;
  color: white;
}

#numpad block[v2] {
  height: 210px;
}

#numpad block[h2] {
  width: calc(50% - 10px);
}

#paymentType button {
  background-color: green;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 10px;
  border-radius: 12px;
  width: 200px;
}

#paymentType button.selected {
  background-color: yellow;
  color: black;
}